<footer>
    <p>&copy; <%= new Date().getFullYear() %> RecipeMaster. All rights reserved.  <br><br>
                Hetvi Shah,  Jolly Christy<br>
                Vinamra Bhavsar,  Dhruv Modi <br>
    </p>
  </footer>
  